.contenedor-principal {
  width: 900px;
  height: 450px;
  margin: 40px 0px 50px 200px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 3px 13px 1px black;
}
img {
  width: 60%;
  height: 100%;
}
.contendor-texto {
  width: 40%;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.contenedor-datos {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
}

.nombre-ciudad {
  margin-bottom: 60px;
  font-size: 3rem;
}

.btn-back {
  background-color: rgb(71, 218, 174);
  margin-top: 30px;
  width: 200px;
  text-decoration: none;
  border: 1px solid #e9e9e9;
  padding: 10px;
  border-radius: 5px;
  color: #000;
}

.btn-back:hover {
  cursor: pointer;
  background-color: rgb(243, 76, 187);
  color: #fff;
}
