.sign-in-container, .sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-form {
    background: none;
    background-color: white;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid #000;
   margin-top: 30px;
  }
  
  .input-form:focus {
    outline: none;
  }
  
  .btn-form {
    min-width: 165px;
    width: auto;
    height: 50px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: white;
    color: black;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border: 1px solid black;
  }

  .btn-form:hover{
    cursor: pointer;
    background-color: #5CB8E4;
    color: black;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  }
  